html, body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    width:100%;
    max-width: 100%;
    overflow-x: hidden;
}


.user{
font-size: 20px;
}

 
#wrapper {width: 100%; margin-top: 0px; }
#header {width: 70%; background: #6f42c1; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}

.add-button {
        	border: 1px solid #666;
        	border-radius: 5px;
        	color: white;
        	padding: 4px;
        	font-size: 12px;
        	font-weight: bold;
        	width: 40px;
        	padding: 5px 10px;
        	margin-bottom: 15px;
        	background: #000000;
}

.add-button:hover:not(:disabled) {
  border-color: transparent;
  color: black;
  background: linear-gradient(20deg, var(--copartBlue), #1c61d1);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  }

.add-button:disabled {
  cursor: not-allowed;
    opacity: 0.4;
    filter: saturate(0.25);
    border-color: var(--charcoal);
    color: var(--charcoal);
}

.message {
    margin-left: 10px;
    margin-right: 10px;
    word-wrap: break-word;
}

.centerDiv{
      width: 30%;
      height: 50%;

      background-color: white;
      top: 50%;
      position: fixed;
      left: 35%;
      transform: scale(1.5, 1.5);

 }

.app1{
    width: 50%;
    height: 30%;
    float:left;
    margin-left: -10px;
}

.app2{
    visibility: hidden;
}

.app3{
    width: 50%;
    height: 30%;
    float:right;
    margin-right: -10px;
}


.place-btn{
    position: fixed;
    bottom: 250px;
    left: 500px;
}

.ownBody{
    padding-left: 5px;
    padding-right: 5px;
}

.error {color:red}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;

  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}